body { background: #fff0f5;}
.navbar, footer { background: #ff80ab; color: white; }
.hero { background: #ffb6c1; padding: 30px 0; text-align: center; color: white; margin-bottom: 50px; }
.card { border-color: #ffb6c1; height: 100%}
.btn-primary { background: #ff80ab; border: none; }
.btn-primary:hover { background: #ff4081; }
.card-img-top {height: 320px;}
.info-section { margin: 20px auto; max-width: 800px; padding: 20px; background: #ffe4e1; border-radius: 10px; }